<div class="container">
  <h2 id="menu-categories-title" class="text-center">Registered Information</h2>

<div ng-if="myInfoCtrl.registeredData">
  <div>First name:<span>{{myInfoCtrl.registeredData.firstname}}</span></div>
  <div>Last name:<span>{{myInfoCtrl.registeredData.lastname}}</span></div>
  <div>Email:<span>{{myInfoCtrl.registeredData.email}}</span></div>
  <div>Phone:<span>{{myInfoCtrl.registeredData.phone}}</span></div>
  <div> Favorite dish</div>
  <div class="category-tile">
    <img width="200" height="200" ng-src="{{myInfoCtrl.basePath}}/images/{{myInfoCtrl.registeredData.menuData.short_name}}.jpg" alt="{{myInfoCtrl.registeredData.menuData.name}}">
    <span>{{myInfoCtrl.registeredData.menuData.name}}</span>

  </div>
  <div>{{myInfoCtrl.registeredData.menuData.description}}</div>

</div>

<div ng-if="!myInfoCtrl.registeredData">
Not Signed Up Yet.<a ui-sref="public.signUp"><div><span> Sign up Now!</span></div></a>
</div>
