<div class="container">
  <h2 id="menu-categories-title" class="text-center">Registered Information</h2>

<div ng-if="myInfoCtrl.registeredData">
  <div class="category-tile">
    <img width="200" height="200" ng-src="images/menu/{{myInfoCtrl.registeredData.category_short_name}}/{{myInfoCtrl.registeredData.category_short_name}}.jpg" alt="{{myInfoCtrl.registeredData.name}}">
    <span>{{myInfoCtrl.registeredData.name}}</span>

  </div>
  <div>{{myInfoCtrl.registeredData.description}}</div>

</div>

<div ng-if="!myInfoCtrl.registeredData">
Not Signed Up Yet.<a ui-sref="public.signUp"><div><span> Sign up Now!</span></div></a>
</div>
